*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.head{
   
    color: yellow;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}
.content{
    color: lightyellow;
}
img {
    display: flex;
    width: 50%;
   height: 50%;
  
}

